# Default values for kubernetes-moodle.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

app:
  name: Moodle

#############
# Deployments
#############
ngnixDeploy:
  name: nginx
  repository: nginx
  tag: 1.10.2-alpine
  pullPolicy: Always
  port: 80

moodleDeploy:
  name: moodle
  repository:
  tag: latest
  pullPolicy: Always
  port: 9000

##########
# Services
##########
service:
  nginx:
    name: nginx
    port: 80

  moodle:
    name: moodle
    port: 9000

###########
# ConfigMap
###########
nginxConfigMap:
  mountPath:
    defaultConf: /etc/nginx/conf.d

################
# Moodle Ingress
################
moodleIngress:
  enableAccessLog: true
  host:
  path: /

##########################
# NGINX Ingress Controller
##########################
nginx-ingress:
  controller:
    kind: DaemonSet
    nodeSelector:
      # The default value below is a label automatically attached to nodes by kops. Change to whatever you want to insert
      # the ingress controller into specific nodes.
      kops.k8s.io/instancegroup: nodes
    publishService:
      enabled: true

#############
# ExternalDNS
#############
external-dns:
  podAnnotations:
    # A role's ARN to be annotated to the pod(s), the role to be assumed using kube2iam.
    # For the Principle of least privilege: service isolation when pods use AWS resources.
    # For more info see: https://github.com/jtblin/kube2iam
    iam.amazonaws.com/role:
  rbac:
    create: true
  domainFilters:
  txtPrefix: